<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <label for="name">Nome</label>
        <input id="name" name="name" th:field="*{name}"><br>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span><br>

        <label for="surname">Cognome</label>
        <input id="surname" name="surname" th:field="*{surname}"><br>
        <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</span><br>

        <label for="username">Username</label>
        <input id="username" name="username" th:field="*{username}"><br>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span><br>

        <label for="password">Password</label>
        <input id="password" name="password" type="password" th:field="*{password}"><br>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span><br>

        <span>Hai un account? <a href="/login">Accedi!</a></span><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>